{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>Cerca de</h1>
        <p>
            Equipo Favorito
        </p>
        <p>
            El F. C. Barcelona es conocido popularmente como Barça (abreviación de la pronunciación de Barcelona en catalán central) y sus hinchas como culés 
        (pronunciación del catalán «culers»); también, y en referencia a sus colores, se utiliza el término azulgranas, que procede del catalán «blaugranes», tal como aparece en su himno, el «Cant del Barça», el cual en su segunda línea menciona «Som la gent blaugrana» (en castellano, «Somos la gente azulgrana»). A nivel institucional, el Fútbol Club Barcelona denomina a sus aficionados como «barcelonistas» y tiene a su servicio, para atender a socios, simpatizantes y público en general, la OAB, sigla que significa Oficina de Atención al Barcelonista, donde quien lo solicita es atendido en los idiomas oficiales del club, que son el catalán, el castellano y el inglés.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/escudo_Barcelona.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer}}